@charset "utf-8"; html {
    background-color: #ffffff;
}

title {
    font-size: 50px;
    font-weight: normal;
    margin: 100;
    margin-bottom: 50px
}

.sch_smit {
    width: 50px;
    height: 25px;
    background-color: #d5d5d5;
    border-radius: 10px;
    border-style: double;
    font-size: 14px;
    border-width: thin;
    cursor: pointer;
    margin: auto;
}

.input_text {
    margin: auto;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: thin;
}

select {
    height: 27px;
    width: 120px;
    border-radius: 5px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: thin;
    cursor: pointer;
}

.buttons {
    width: 60px;
    height: 25px;
    border-color: #d5d5d5;
    border-radius: 10px;
    border-style: solid;
    font-size: 14px;
    border-width: medium;
    cursor: pointer;
    position: relative;
    right : 300px;
    margin: 2px;
    float: right;
}

.buttons1 {
    width: 60px;
    height: 25px;
    border-color: #d5d5d5;
    border-radius: 10px;
    border-style: solid;
    font-size: 14px;
    border-width: medium;
    cursor: pointer;
    position: relative;
    left: 270px;
}

.button_rp {
    width: 80px;
    height: 25px;
    border-color: #d5d5d5;
    border-radius: 10px;
    border-style: solid;
    font-size: 14px;
    border-width: medium;
    cursor: pointer;
    position : relative;
    left : 400px;
}

.buttons_v {
    width: 60px;
    height: 25px;
    border-color: #d5d5d5;
    border-radius: 10px;
    border-style: solid;
    font-size: 14px;
    border-width: medium;
    cursor: pointer;
    position: relative;
    left : 480px;
}
.pages, .pages1{
    cursor: pointer;
    letter-spacing: 10px;
    position: relative;
    left: 50%;
}
.pages {
    font-size: 15px;
    font-weight: normal;
}

.pages1 {
    font-size: 18px;
}

#Table1 {
    border-collapse: collapse;
    width: 1000px;
    border-spacing: 1px;
    line-height: 1.5;
    align-content: center;
    text-align: center;
    border-width: 10;
    margin : auto;
}

#Table1, #Table1 td, #Table th {
    border: 1px solid gray;
    border-width: 1px 0;
    border-collapse: collapse;
    text-align: center;
    padding: 6px;
}

#Table2 {
  border-collapse: collapse;
    font-weight: bold;
    color: #fff;
    border: solid;
    background: #959595;
    margin: 20px 10px;
}

#Table3 {
    border-collapse: collapse;
    border-color: #eaeaeab0;
    padding: 10px;
    background-color: #fff;
    cursor : pointer;
}

#Table4 {
    border-collapse: collapse;
    border-color: #959595;
    background-color: #eaeaeab0;
    cursor: pointer;
}

.Table_wr1 {
    margin-left: 450px;
    width: 600px;
}

.Table_wr2 {
    border-width: thin;
    background-color: #eaeaeab0;
    border-radius: 7px;
    border-color: #fff;
    width: 200px;
    height: 30px;
    font-size: 17px;
    font-weight: normal;
}

.Table_wr3 {
    width: 300px;
    border-radius: 8px;
    border : 1px;
    border-style: solid;
    border-collapse: collapse;
    border-width: thin;
    border-color: #d5d5d5;
}

#id, #store, #product, #content, #price, #start, #end, #password {
    border-collapse: collapse;
    border-color: #d5d5d5;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    width: 400px;
    height: 25px;
    text-align: center;
}

.id, .store, .product, .content, .price, .start, .end, .password {
    background-color: #eaeaeab0;
    border-radius: 7px;
    border-color: #fff;
    width: 200px;
    float: left;
    float: right;
    margin-left: 420px;
    height: 30px;
    font-size: 17px;
    font-weight: normal;
}

.p #password {
    width: 200px;
    position: relative;
    left: 400px;
}

textarea {
    text-align: left;
    border-radius: 10px;
    width: 600px;
    height: 80px;
    margin-left: 450px;
}

#price {
    width: 385px;
}

#table_wr tr th {
    border-width: thin;
    border-collapse: collapse;
    border-color: #d5d5d5;
    background-color: #eaeaeab0;
}

form {
    margin: auto;
}

.search {
    position : relative;
    left : 720px;
}
img{width:300px;
    margin: auto;
    display: block;}
.img {
    bottom: 30px;
    margin: auto;
    display: block;
}

.img1 {
    position: absolute;
    width: 300px;
}

#replys1 {
    border-radius: 8px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: thin;
    text-align: left;
    position: relative;
    width: 510px;
    left: 500px;
}

#replys2 {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #d5d5d550;
    width: 600px;
}

#i {
    width: 60px;
    height: 25px;
    border-color: #d5d5d5;
    border-radius: 10px;
    border-style: solid;
    font-size: 14px;
    border-width: thin;
    cursor: pointer;
    position: relative;
    margin: 2px;
    float: right;
}
