<!DOCTYPE html>
<html lang ="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<title>게시판 상세보기</title>
<style type="text/css">
	* {font-size: 12pt;}
	p {width: 930px; text-align: center;}
	table{ width:40%;}
	table tbody tr th {background-color: gray;}
</style>
<script type="text/javascript">
	function goUrl(url) {
		location.href=url;
	}
	var id = document.location.href.split("/");
	var req1 = new XMLHttpRequest();
	req1.open("POST","/view")
	req1.send(id[id.length-1]);
	var req = new XMLHttpRequest();
	var data;
	var re  = new Object();
	var i=0;
	var txt = "",reply="";
	req1.onreadystatechange = function b(){console.log(req1.readyState);
		if(req1.readyState==4){
			data={{data1|safe}};
	req.open("POST","./json_data.txt")
	req.send();
	req.onreadystatechange = function a(){
	console.log(this.readyState, this.status);
	if (this.readyState ==4 ){
		console.log(this.response);
		data = JSON.parse(req.response);
		txt += "<table class='Table_wr1'>"
		txt += "<tr'><td class='Table_wr2'>"+ "상호명" +"</td>"
		txt+=("<td class='Table_wr3'>"+ data[0].store +"</td></tr>");
		txt += "<tr><td class='Table_wr2'>"+ "상품명" +"</td>"
		txt+=("<td class='Table_wr3'>"+ data[0].product +"</td></tr>");
		txt += "<tr><td class='Table_wr2'>"+ "행사내용" +"</td>"
		txt+=("<td class='Table_wr3'>"+ data[0].content +"</td></tr>");
		txt += "<tr><td class='Table_wr2'>"+ "가격" +"</td>"
		txt+=("<td class='Table_wr3'>"+ data[0].price  +"</td></tr>");
		txt += "<tr><td class='Table_wr2'>"+ "시작일시" +"</td>"
		txt+=("<td class='Table_wr3'>"+ data[0].start +"</td></tr>");
		txt += "<tr><td class='Table_wr2'>"+ "종료일시" +"</td>"
		txt+=("<td class='Table_wr3'>"+ data[0].end +"</td></tr>");
		document.getElementById("t").innerHTML = txt;
		txt += "</table>"
		reply="<table id='replys1' border='0'>"
		for(;i<data[0].reply.length;i++)
		{ reply+="<tr onclick='reply_delete(this)'><td id='replys2'>"+data[0].reply[i].string+"</td>";
		reply+="<td><input type=button value=삭제 id = i onclick=></td></tr>"}
		reply+="</table>"
		 document.getElementById("r").innerHTML = reply;  }}}}
	function check(){
		if (document.getElementById("reply").value == "" || document.getElementById("reply").value== null) {
		alert("댓글을 입력하세요.");
	               return;}
		else if(document.getElementById("password").value == "" || document.getElementById("password").value== null) {
		alert("비밀번호를 입력하세요.");
	               return;}
		else{var xhr = new XMLHttpRequest();
		var encoder = new TextEncoder();
		var reply_string = encoder.encode(document.getElementById("reply").value);
		xhr.open("POST","./reply");
		xhr.setRequestHeader('Content-Type','text/html;charset=UTF-8');
		xhr.setRequestHeader('data_id',data[0].id); // 글 id
		xhr.setRequestHeader('reply',reply_string); // 댓글 string
		xhr.setRequestHeader('password',document.getElementById("password").value); // 댓글 password
		xhr.send();
		xhr.onreadystatechange = function e()
		{
		if(xhr.readyState == 4)
			{
			if(xhr.status==200){goUrl('http://127.0.0.1:5000/boardView.html');}
			else {console.log('Error!');}
			}
		}}}
		function reply_delete(x)
		{	var a=x.rowIndex;
			var pass=prompt('비밀번호를 입력하세요.');
			var del = new XMLHttpRequest();
			del.open('POST','./delete2');
			del.setRequestHeader('data_id',data[0].id); //글 id 번호
			del.setRequestHeader('reply_id',data[0].reply[a].id); // 댓글 id 번호
			del.setRequestHeader('reply_password',pass); // 댓글 password
			del.send();
			if(del.readyState==4)
			{if(del.response==y){alert("삭제되었습니다.");//비밀번호가 맞으면 서버가 y를 리턴해줘서 삭제되고 새로고침
			goUrl('http://127.0.0.1:5000/boardView.html');}
			else{alert("비밀번호가 틀립니다");goUrl('http://127.0.0.1:5000/boardView.html');}}
		}
</script>
<img src="{{url_for('static', filename='wap_logo.jpg')}}">
</head>
<body>
	<p id=t></p>
	<p>
		<input type="button" class="buttons_v" value="목록" onclick="goUrl('http://127.0.0.1:5000/boardList.html');" />
		<input type="button" class="buttons_v" value="수정" onclick="goUrl('http://127.0.0.1:5000/boardModifyForm.html');" />
	</p><br>
	<p class='p'>
	<th>
	<textarea rows="5" cols="40" id = reply name = reply placeholder=" 댓글을 입력하세요."></textarea><br></th>
	<th></th>
	<input type= password id = password name = password placeholder="비밀번호를 입력하세요.">
	<input type= button class="button_rp" value=댓글등록 onclick="check();"/></p>

	<p id = r>
	</p>
	<div align="center" class="img"><img src="http://cms.pknu.ac.kr/data/pknupa/UXIS_SITEBANNER/UXIS_SITEBANNER_201704190207028970"></div>
</body>
</html>
