<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>게시판 목록</title>
        <!-- CSS 영역 -->
        <style type="text/css">
            /* {
                font-size: 12pt;
            }

            p {
                width: 1500px;
                text-align: center;
            }*/
        </style>
        <!-- //CSS 영역 -->
        <!-- 자바스크립트 영역 -->
        <script language="javascript" type="text/javascript">
            var p = "";
            var data= {{data1|safe}};
            var data1
            var maxPage = 0;
            var h = 1;
            var i;
            var index = 1;
            function a() {
                    var txt = "";
                    txt += "<table id='Table1'>";
                    txt += "<tr id='Table2'><td>" + "상호명" + "</td>";
                    txt += "<td>" + "상품명" + "</td>";
                    txt += "<td>" + "행사내용" + "</td>";
                    txt += "<td>" + "가격" + "</td>";
                    txt += "<td>" + "시작일시" + "</td>";
                    txt += "<td>" + "종료일시" + "</td></tr>";
                    if (data.length == 0) {
                        txt += "<tr><td colspan=6><strong>" + "등록된 글이 없습니다." + "</strong></td></tr>";
                    } else {
                        if (data.length < h * 10) {
                            k = data.length;
                        } else {
                            k = 10 * h;
                        }
                        for (i = 10 * (h - 1); i < k; i++) {
                            if (i % 2 == 0) {
                                txt += "<tr onclick=goView(this) id='Table3'><td>" + data[i].store + "</td>";
                            } else {
                                txt += "<tr onclick=goView(this) id='Table4'><td>" + data[i].store + "</td>";
                            }
                            txt += "<td>" + data[i].product + "</td>";
                            txt += "<td>" + data[i].content + "</td>";
                            txt += "<td>" + data[i].price + "원" + "</td>";
                            txt += "<td>" + data[i].start + "</td>";
                            txt += "<td>" + data[i].end + "</td></tr>";
                        }
                    }
                    document.getElementById("t").innerHTML = txt;
                    txt += "</table>";
                    maxPage = parseInt(data.length / 10 + 1);
                    if(data.length!=0){
                      for (var j = 1; j <= maxPage; j++) {
                        if (j == 1) {
                            p += "<strong class='pages1' onclick=Page(this)>" + j + "</strong>" + " ";
                        } else {
                            p += "<strong class='pages' onclick=Page(this)>" + j + "</strong>" + " ";
                        }
                        document.getElementById("pg").innerHTML = p;
                    }}
                }
            function Page(a) {
                console.log(a.textContent);
                if (a == 1) {
                    h = 1;
                } else {
                    h = a.textContent;
                }
                index = h;
                var txt = "";
                txt += "<table id='Table1'>";
                txt += "<tr id= 'Table2'><td>" + "상호명" + "</td>";
                txt += "<td>" + "상품명" + "</td>";
                txt += "<td>" + "행사내용" + "</td>";
                txt += "<td>" + "가격" + "</td>";
                txt += "<td>" + "시작일시" + "</td>";
                txt += "<td>" + "종료일시" + "</td></tr>";
                if (data.length < h * 10) {
                    k = data.length;
                } else {
                    k = 10 * h;
                }
                for (i = 10 * (h - 1); i < k; i++) {
                    if (i % 2 == 0) {
                        txt += "<tr onclick=goView(this) id='Table3'><td>" + data[i].store + "</t>";
                    } else {
                        txt += "<tr onclick=goView(this) id='Table4'><td>" + data[i].store + "</td>";
                    }
                    txt += "<td>" + data[i].product + "</td>";
                    txt += "<td>" + data[i].content + "</td>";
                    txt += "<td>" + data[i].price + "원" + "</td>";
                    txt += "<td>" + data[i].start + "</td>";
                    txt += "<td>" + data[i].end + "</td></tr>";
                }
                document.getElementById("t").innerHTML = txt;
                txt += "</table>";
                maxPage = parseInt(data.length / 10 + 1);
                p = "";
                for (var j = 1; j <= maxPage; j++) {
                    if (j == h) {
                        p += "<strong class='pages1' onclick=Page(this)>" + j + "</strong>" + " ";
                    } else {
                        p += "<strong class='pages' onclick=Page(this)>" + j + "</strong>" + " ";
                    }
                    document.getElementById("pg").innerHTML = p;
                }
            }
            function goView(id) {
                var a = (index - 1) * 10 + id.rowIndex - 1;
                console.log(a);
                var b = data[a].data_id;
                goUrl('/boardView.html/'+ b);
                            }
            function goUrl(url) {
                location.href = url;
            }
            function check() {
                if (document.getElementById("text").value == "" || document.getElementById("text").value == null) {
                    alert("검색어를 입력하세요.");
                    document.searchForm.searchText.focus();
                    return false;
                } else {
                    document.searchForm.submit();
                  }
            }
        </script>
        <!-- //자바스크립트 영역 -->
    </head>
    <body onload="a();">
      <img src="{{url_for('static', filename='wap_logo.jpg')}}">
        <!-- 검색 폼 영역 -->
        <form name="searchForm" action="boardList.html" method="GET" onsubmit="return check()">
            <table width="200" class=search>
                <tr>
                    <td align="center" valign="bottom">
                        <select name="searchType" id="searchtype">
                            <option value="ALL">전체검색</option>
                            <option value="STORE">상호명</option>
                            <option value="PRODUCT">상품명</option>
                            <option value="CONTENT">내용</option>
                        </select>
                    </td>
                    <td>
                        <input id=text type="text" class='input_text' size="16" id="search_Text" name="searchText"/>
                    </td>
                    <td>
                        <input type="button" class='sch_smit' value="검색" onclick="check()"/>
                    </td>
                </tr>
            </table>
        </form>
        <!-- //검색 폼 영역 -->
        <!-- 게시판 목록 영역 -->
        <p id=t></p>
        <!-- //게시판 목록 영역 -->
        <p id=pg></p>
        <!-- 버튼 영역 -->
        <p>
            <input type="button" class='buttons' value="목록" onclick="goUrl('/boardList.html');"/>
            <input type="button" class='buttons' value="글쓰기" onclick="goUrl('/boardWriteForm.html');"/>
        </p>
        <br>
        <br>
        <!-- //버튼 영역 -->
            <img src="http://cms.pknu.ac.kr/data/pknupa/UXIS_SITEBANNER/UXIS_SITEBANNER_201704190207028970">

    </body>
</html>
