<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 등록 폼</title>
<style type="text/css">
	* {font-size: 12pt;}
	p {width: 930px; text-align: right;}
	table tbody tr th {background-color: gray;}
</style>
<script type="text/javascript">
	function goUrl(url) {
		location.href=url;
	}
	var id = document.location.href.split("/");
	var req1 = new XMLHttpRequest();
	req1.open("POST","./json_data.txt");
	req1.send(id[id.length-1]);
	req1.onreadystatechange = function b(){
		if(req1.readyState==4){
	var req = new XMLHttpRequest();
	var data;
	var jsondata =  new Object();
	req.onreadystatechange = function a(){
	if (this.readyState ==4 ){
		data = JSON.parse(req.response);
		document.getElementById("id").value = data[0].id;
		document.getElementById("store").value = data[0].store;
		document.getElementById("product").value = data[0].product;
		document.getElementById("content").value = data[0].content;
		document.getElementById("price").value = data[0].price;
		document.getElementById("start").value = data[0].start;
		document.getElementById("end").value = data[0].end;
	}}
	req.open("POST","./json_data.txt");
	req.send();}}
	function check() {
	if (document.f.store.value == "" || document.f.store.value == null) {
	alert("상호을 입력하세요.");
	document.f.store.focus();
               return;}
	else if (document.f.product.value == "" || document.f.product.value == null) {
	alert("상품을 입력하세요.");
	document.f.product.focus();
	return;}
	else if (document.f.price.value == "" || document.f.price.value == null) {
	alert("가격을 입력하세요.");
	document.f.price.focus();
	return;}
	else if (document.f.content.value == "" || document.f.content.value == null) {
	alert("할인내용을 입력하세요.");
	document.f.content.focus();
	return;}
	else if (document.f.end.value == "" || document.f.end.value == null) {
	alert("종료일시을 입력하세요.");
	document.f.enddate.focus();
	return;}
	else if (document.f.password.value =="" || document.f.password.value == null) {
	alert("비밀번호를 입력하세요.");
	document.f.password.focus();
	return;}
	else {f.action=modify; //수정시 action 경로 재설정 해야됨
		document.f.submit();}}
	function check1()
	{
		if (document.f.password.value =="" || document.f.password.value == null) {
		alert("비밀번호를 입력하세요.");
		document.f.password.focus();
		return;}
		else {f.action=delete1; // 삭제시 action 경로 재설정 해야됨
		document.f.submit();}
	}
</script>
</head>
<body>
<form name=f method = post action='modify'>
<table summary="게시판 등록">
		<caption>게시판 등록 폼</caption>
		<colgroup>
			<col width="150" />
		</colgroup>
		<tbody>
		<tr>
			<th align="center"></th>
			<td><input type=text name=id id=id size=30 disabled value= ></td>
		</tr>
			<tr>
				<th align="center">상호명</th>
				<td><input type=text name=store id=store size=30/></td>
			</tr>
			<tr>
				<th align="center">상품명</th>
				<td><input type=text name=product id=product size=30/></td>
			</tr>
			<tr>
				<th align="center">행사내용</th>
				<td><input type=text name=content id=content size=30/></td>
			</tr>
			<tr>
				<th align="center">가격</th>
				<td><input type=number name=price id=price size=30/>원</td>
			</tr>
			<tr>
				<th align="center">시작일시(생략가능)</th>
				<td><input type=date name=start id=start size=60/></td>
			</tr>
			<tr>
				<th align="center">종료일시</th>
				<td><input type=date name=end id=end size=30/></td>
			</tr>
			<tr>
				<th align="center">비밀번호(글 수정시)</th>
				<td><input type=password name=password id=password size=30/></td>
			</tr>
		</tbody>
	</table>
	<p>
		<input type="button" value="목록" onclick="goUrl('boardList.html');"/>
		<input type="button" value="수정" onclick="check();"/>
		<input type="button" value="삭제" onclick="check1();"/>
	</p>
</form>
</body>
</html>
