<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<title>게시판 등록</title>
<style type="text/css">
	* {font-size: 12pt;}
	p {width: 930px; text-align: right;}
	table tbody tr th {background-color: gray;}
</style>
<script type="text/javascript">
	function goUrl(url) {
		location.href=url;
	}
	function check() {
	if (document.f.store.value == "" || document.f.store.value == null) {
	alert("상호을 입력하세요.");
	document.f.store.focus();
               return;}
	else if (document.f.product.value == "" || document.f.product.value == null) {
	alert("상품을 입력하세요.");
	document.f.product.focus();
	return;}
	else if (document.f.price.value == "" || document.f.price.value == null) {
	alert("가격을 입력하세요.");
	document.f.price.focus();
	return;}
	else if (document.f.content.value == "" || document.f.content.value == null) {
	alert("할인내용을 입력하세요.");
	document.f.content.focus();
	return;}
	else if (document.f.end.value == "" || document.f.end.value == null) {
	alert("종료일시을 입력하세요.");
	document.f.enddate.focus();
	return;}
	else if (document.f.password.value == "" || document.f.password.value == null) {
	alert("비밀번호를 입력하세요.");
	document.f.password.focus();
	return;}
	else {document.f.submit();}
	}
</script>
</head>
<body>
	<img src="{{url_for('static', filename='wap_logo.jpg')}}">
<form name=f method = post action='write'>
<table summary="게시판 등록">
		<colgroup>
			<col width="150" />
		</colgroup>
		<tbody>
			<tr>
				<th align="center" class='store'>상호명</th>
				<td><input type=text name=store id=store size=30/></td>
			</tr>
			<tr>
				<th align="center" class='product'>상품명</th>
				<td><input type=text name=product id=product size=30/></td>
			</tr>
			<tr>
				<th align="center" class='content'>행사내용</th>
				<td><input type=text name=content id=content size=30/></td>
			</tr>
			<tr>
				<th align="center" class='price'>가격</th>
				<td><input type=number name=price id=price size=30/>원</td>
			</tr>
			<tr>
				<th align="center" class='start'>시작일시(생략가능)</th>
				<td><input type=date name=start id=start size=60/></td>
			</tr>
			<tr>
				<th align="center" class='end'>종료일시</th>
				<td><input type=date name=end id=end size=30/></td>
			</tr>
			<tr>
				<th align="center" class='password'>비밀번호(글 수정시)</th>
				<td><input type=password name=password id=password size=30/></td>
			</tr>
		</tbody>
	</table>
	<p>
		<input type="button" class='buttons1' value="목록" onclick="goUrl('http://127.0.0.1:5000/boardList.html');" />
		<input type="button" class='buttons1' value="등록" onclick="check()"/>
	</p>
</form>
<div align="center" class="img"><img src="http://cms.pknu.ac.kr/data/pknupa/UXIS_SITEBANNER/UXIS_SITEBANNER_201704190207028970"></div>
</body>
</html>
